.container{
  width:960px;
  margin:0 auto;
}

.clear{
  clear:both;
}

.after_login{
  padding: 40px 0;
}

.after_login:first-child{
  border-bottom:2px solid black;
  margin:-9px;
}

.after_login ul li{
  padding-left:10%;
  padding-bottom:5%;
  list-style-type:none;  
}

.after_login li a{
  text-decoration:none;
}

.after_login p{
  font-size:1.4em;
  font-weight:bold;
}

.show_profile tr>td:first-child{
  border-right:2px black dotted;
  padding-right:10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
}

.show_profile tr>td:last-child{
  border-left:2px black dotted;
  padding-left:10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
}

.show_profile td{
  padding:10px 0;
}


#header {
}

#header h1{
  font-size: 2.3em;
  text-align:center;
  border-bottom:black 5px solid;
  padding-bottom:10px;
}

#header ul{
  float:right;
  margin-right:550px;
  padding:0px;
}

#header li{
  float:left;
  padding: 4px 20px;
  list-style-type:none;
}

#header a{
  text-decoration:none;
}

#header li:first-child{
  padding-left:5px;
}

#menu_login{
  border:2px solid black;
  float:left;
  padding:1%;
  width:25%;
}

#content{
  float:left;
  width:70%;
  margin-left:2%;
  margin-right:0;
}

#content .category_index td{
  padding: 10px 0;
}

#content .header{
  border-bottom: 5px solid black;
  border-top:5px solid black;
  font-size:2em;
  padding: 10px 0;
}

#content .category_index_table_title td{
  font-size: 1.4em;
  width:30%;
}

#content .product{
  width:33%;
  padding:0;
  margin:0;
  float:left;
  border:1px black solid;
  height:100px;
  overflow-y:scroll;

}

#content .product a{
  text-decoration:none;
}
