<div class=after_login>
  <ul>
    <li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
    <li><a>See Products</a></li>
    <li><a>See Articles</a></li>
    <li><%= link_to "Logout", log_out_path %></li>
  </ul>
</div>
